In [119]:
import json
import requests
from collections import defaultdict
import re
import pandas as pd

In [120]:
f = open('data.json')
data = json.load(f)

In [121]:
list(data.keys())

['context', 'message']

In [122]:
data['context']

{'action': 'on_search',
 'transaction_id': 'abhinav4',
 'message_id': '1658995248462',
 'city': 'std:080',
 'domain': 'nic2004:52110',
 'country': 'IND',
 'core_version': '0.9.3',
 'timestamp': '2022-07-29T11:01:41.796972Z',
 'bap_id': 'ondc.paytm.com',
 'bap_uri': 'https://bb5c-45-112-144-38.ngrok.io/add',
 'bpp_id': 'agri.ondc.esamudaay.com',
 'bpp_uri': 'https://api.test.esamudaay.com/external/v1/ondc/retail/bpp'}

In [123]:
data['message']['catalog'].keys()

dict_keys(['bpp/descriptor', 'bpp/providers', 'bpp/categories'])

In [124]:
data['message']['catalog']['bpp/descriptor']

{'name': 'eSamudaay',
 'code': 'ESAM',
 'symbol': 'https://media.esamudaay.com/user-media/es-logo-small.png',
 'short_desc': 'Transforming digital and business landscape of India',
 'long_desc': 'To act as the catalyst of growth for entrepreneurship by providing funding and resources to initiate transformative businesses',
 'images': ['https://media.esamudaay.com/user-media/es-logo-small.png']}

In [125]:
data['message']['catalog']['bpp/providers']

[{'id': '0635ecff-8fde-4185-8cd8-167efda42bbc',
  'descriptor': {'name': 'Ravada Stores',
   'code': 'ESAM',
   'symbol': 'https://media.esamudaay.com/user-media/es-logo-small.png',
   'short_desc': 'Ravada Stores',
   'long_desc': 'Ravada Stores',
   'images': ['https://media.esamudaay.com/user-media/es-logo-small.png']},
  'locations': [{'id': '8cbe235d-f510-496b-881b-3e270f0d0463',
    'descriptor': {'name': 'Main Market',
     'code': 'ESAM',
     'symbol': '',
     'short_desc': 'SHop No 2, Street 1',
     'long_desc': '',
     'images': []},
    'gps': '13.0514944,77.5094272',
    'address': {'city': 'Bangalore',
     'street': None,
     'area_code': '560035',
     'state': 'Karnataka',
     'name': 'Main Market'}}],
  'fulfillments': [{'type': 'Pickup',
    'id': '2',
    'start': {'location': {'id': '8cbe235d-f510-496b-881b-3e270f0d0463',
      'gps': '13.0514944,77.5094272',
      'address': {'city': 'Bangalore',
       'building': None,
       'area_code': '560035',
       'state': 'Karnataka',
       'name': 'Main Market'}}}},
   {'type': 'Delivery',
    'id': '1',
    'start': {'location': {'id': '8cbe235d-f510-496b-881b-3e270f0d0463',
      'gps': '13.0514944,77.5094272',
      'address': {'city': 'Bangalore',
       'building': None,
       'area_code': '560035',
       'state': 'Karnataka',
       'name': 'Main Market'}}}}],
  'rateable': False,
  '@ondc/org/fssai_license_no': '',
  'ttl': 'PT24H',
  'items': [{'id': '1900',
    'parent_item_id': '1388',
    'descriptor': {'name': 'Chicken Breast Boneless',
     'code': 'ESAM',
     'symbol': 'https://media.esamudaay.com/user-media/veg.png',
     'short_desc': 'Chicken Breast Boneless',
     'long_desc': 'Chicken Breast Boneless',
     'images': ['https://media.test.esamudaay.com/user-media/chilli-chicken_JRHHisY.jpg']},
    'price': {'currency': 'INR',
     'value': '1.0',
     'listed_price': '0.97',
     'maximum_value': '1.0'},
    'rateable': False,
    'matched': True,
    'category_id': 'PACKAGED_COMMODITIES',
    'fulfillment_id': '1',
    'location_id': '8cbe235d-f510-496b-881b-3e270f0d0463',
    '@ondc/org/returnable': False,
    '@ondc/org/seller_pickup_return': True,
    '@ondc/org/available_on_cod': False,
    '@ondc/org/return_window': 'PT24H',
    '@ondc/org/time_to_ship': 'PT2H',
    '@ondc/org/cancellable': False,
    '@ondc/org/contact_details_consumer_care': 'Name. Support Guy1 | Contact no. +918123462111',
    '@ondc/org/statutory_reqs_packaged_commodities': {'manufacturer_or_packer_name': 'Kitchen',
     'manufacturer_or_packer_address': '103 Prithvi appartment, Malleswaram, Bengaluru, Karnataka 560003',
     'common_or_generic_name_of_commodity': 'Chicken',
     'net_quantity_or_measure_of_commodity_in_pkg': '250 gms',
     'month_year_of_manufacture_packing_import': '14/02/2022',
     'imported_product_country_of_origin': 'India'}},
   {'id': '1898',
    'parent_item_id': '1387',
    'descriptor': {'name': 'Chicken - With Skin',
     'code': 'ESAM',
     'symbol': 'https://media.esamudaay.com/user-media/veg.png',
     'short_desc': 'Chicken - With Skin',
     'long_desc': 'Chicken - With Skin',
     'images': ['https://media.test.esamudaay.com/user-media/chilli-chicken_JRHHisY.jpg']},
    'price': {'currency': 'INR',
     'value': '100.0',
     'listed_price': '97.09',
     'maximum_value': '100.0'},
    'rateable': False,
    'matched': True,
    'category_id': 'PACKAGED_COMMODITIES',
    'fulfillment_id': '1',
    'location_id': '8cbe235d-f510-496b-881b-3e270f0d0463',
    '@ondc/org/returnable': False,
    '@ondc/org/seller_pickup_return': True,
    '@ondc/org/available_on_cod': False,
    '@ondc/org/return_window': 'PT24H',
    '@ondc/org/time_to_ship': 'PT2H',
    '@ondc/org/cancellable': False,
    '@ondc/org/contact_details_consumer_care': 'Name. Support Guy1 | Contact no. +918123462111',
    '@ondc/org/statutory_reqs_packaged_commodities': {'manufacturer_or_packer_name': 'Kitchen',
     'manufacturer_or_packer_address': '103 Prithvi appartment, Malleswaram, Bengaluru, Karnataka 560003',
     'common_or_generic_name_of_commodity': 'Chicken',
     'net_quantity_or_measure_of_commodity_in_pkg': '500 gms',
     'month_year_of_manufacture_packing_import': '14/02/2022',
     'imported_product_country_of_origin': 'India'}},
   {'id': '1897',
    'parent_item_id': '1387',
    'descriptor': {'name': 'Chicken - With Skin',
     'code': 'ESAM',
     'symbol': 'https://media.esamudaay.com/user-media/veg.png',
     'short_desc': 'Chicken - With Skin',
     'long_desc': 'Chicken - With Skin',
     'images': ['https://media.test.esamudaay.com/user-media/chilli-chicken_JRHHisY.jpg']},
    'price': {'currency': 'INR',
     'value': '51.0',
     'listed_price': '49.51',
     'maximum_value': '51.0'},
    'rateable': False,
    'matched': True,
    'category_id': 'PACKAGED_COMMODITIES',
    'fulfillment_id': '1',
    'location_id': '8cbe235d-f510-496b-881b-3e270f0d0463',
    '@ondc/org/returnable': False,
    '@ondc/org/seller_pickup_return': True,
    '@ondc/org/available_on_cod': False,
    '@ondc/org/return_window': 'PT24H',
    '@ondc/org/time_to_ship': 'PT2H',
    '@ondc/org/cancellable': False,
    '@ondc/org/contact_details_consumer_care': 'Name. Support Guy1 | Contact no. +918123462111',
    '@ondc/org/statutory_reqs_packaged_commodities': {'manufacturer_or_packer_name': 'Kitchen',
     'manufacturer_or_packer_address': '103 Prithvi appartment, Malleswaram, Bengaluru, Karnataka 560003',
     'common_or_generic_name_of_commodity': 'Chicken',
     'net_quantity_or_measure_of_commodity_in_pkg': '250 gms',
     'month_year_of_manufacture_packing_import': '14/02/2022',
     'imported_product_country_of_origin': 'India'}}]}]

In [126]:
data['message']['catalog']['bpp/categories']

[{'id': 'PACKAGED_COMMODITIES',
  'descriptor': {'name': 'Packaged Commodities',
   'short_desc': 'All kinds of Packaged goods'}},
 {'id': 'PACKAGED_FOOD',
  'descriptor': {'name': 'Packaged Foods',
   'short_desc': 'All kinds of Packaged foods'}},
 {'id': 'FRUITS_N_VEGGIES',
  'descriptor': {'name': 'Fruits and Vegetables',
   'short_desc': 'Fresh Fruits and Veggies'}},
 {'id': 'RESTAURANT',
  'descriptor': {'name': 'Restaurant', 'short_desc': 'Resto food'}}]

In [127]:
cols=[]
for i in data['context'].keys():
    cols.append(i)
context=pd.DataFrame(columns=cols)
cols

['action',
 'transaction_id',
 'message_id',
 'city',
 'domain',
 'country',
 'core_version',
 'timestamp',
 'bap_id',
 'bap_uri',
 'bpp_id',
 'bpp_uri']

In [135]:
column=[]
rows=[]
for i in data['context'].keys():
    rows.append(data['context'][i])
column.append(rows)
print(column)

[['on_search', 'abhinav4', '1658995248462', 'std:080', 'nic2004:52110', 'IND', '0.9.3', '2022-07-29T11:01:41.796972Z', 'ondc.paytm.com', 'https://bb5c-45-112-144-38.ngrok.io/add', 'agri.ondc.esamudaay.com', 'https://api.test.esamudaay.com/external/v1/ondc/retail/bpp']]

In [136]:
context.loc[len(context)] = column[0]
context

,action,transaction_id,message_id,city,domain,country,core_version,timestamp,bap_id,bap_uri,bpp_id,bpp_uri
0,on_search,abhinav4,1658995248462,std:080,nic2004:52110,IND,0.9.3,2022-07-29T11:01:41.796972Z,ondc.paytm.com,https://bb5c-45-112-144-38.ngrok.io/add,agri.ondc.esamudaay.com,https://api.test.esamudaay.com/external/v1/ond...

In [140]:
providers=data['message']['catalog']['bpp/providers']
column=[]
for i in providers:
    rows=[]
    for key in i.keys():
        rows.append(i[key])
    column.append(rows)
print(len(column[0]))

8

In [141]:
provider_df=pd.DataFrame(columns=['id', 'descriptor','locations','fulfillments', 'rateable', '@ondc/org/fssai_license_no', 'ttl', 'items'])
provider_df

Empty DataFrame
Columns: [id, descriptor, locations, fulfillments, rateable, @ondc/org/fssai_license_no, ttl, items]
Index: []

In [142]:
provider_df.loc[len(provider_df)]=column[0]

In [143]:
provider_df

,id,descriptor,locations,fulfillments,rateable,@ondc/org/fssai_license_no,ttl,items
0,0635ecff-8fde-4185-8cd8-167efda42bbc,"{'name': 'Ravada Stores', 'code': 'ESAM', 'sym...",[{'id': '8cbe235d-f510-496b-881b-3e270f0d0463'...,"[{'type': 'Pickup', 'id': '2', 'start': {'loca...",False,,PT24H,"[{'id': '1900', 'parent_item_id': '1388', 'des..."

In [144]:
provider_df['descriptor'][0].keys()

dict_keys(['name', 'code', 'symbol', 'short_desc', 'long_desc', 'images'])

In [167]:
descriptor_pv=pd.DataFrame(columns=['id','name', 'code', 'symbol', 'short_desc', 'long_desc', 'images'])
descriptor_pv

Empty DataFrame
Columns: [id, name, code, symbol, short_desc, long_desc, images]
Index: []

In [168]:
rows=[]
column=[]
for i in range(len(provider_df['descriptor'])):
    temp=provider_df['descriptor'][i]
    rows.append(provider_df['id'][i])
    rows.append(temp['name'])
    rows.append(temp['code'])
    rows.append(temp['symbol'])
    rows.append(temp['short_desc'])
    rows.append(temp['long_desc'])
    rows.append(temp['images'])
column.append(rows)
column

[['0635ecff-8fde-4185-8cd8-167efda42bbc',
  'Ravada Stores',
  'ESAM',
  'https://media.esamudaay.com/user-media/es-logo-small.png',
  'Ravada Stores',
  'Ravada Stores',
  ['https://media.esamudaay.com/user-media/es-logo-small.png']]]

In [169]:
for i in column:
    descriptor_pv.loc[len(descriptor_pv)]=i

In [170]:
descriptor_pv

,id,name,code,symbol,short_desc,long_desc,images
0,0635ecff-8fde-4185-8cd8-167efda42bbc,Ravada Stores,ESAM,https://media.esamudaay.com/user-media/es-logo...,Ravada Stores,Ravada Stores,[https://media.esamudaay.com/user-media/es-log...

In [177]:
locations_df=pd.DataFrame(columns=['provider_id','location_id', 'descriptor', 'gps', 'address'])
locations_df

Empty DataFrame
Columns: [provider_id, location_id, descriptor, gps, address]
Index: []

In [178]:
column=[]
for i in range(len(provider_df['locations'])):
    temp=provider_df['locations'][i]
    for j in temp:
        rows=[]
        rows.append(provider_df['id'][i])
        for val in j.values():
            rows.append(val)
        column.append(rows)
        print(column)
column

[['0635ecff-8fde-4185-8cd8-167efda42bbc', '8cbe235d-f510-496b-881b-3e270f0d0463', {'name': 'Main Market', 'code': 'ESAM', 'symbol': '', 'short_desc': 'SHop No 2, Street 1', 'long_desc': '', 'images': []}, '13.0514944,77.5094272', {'city': 'Bangalore', 'street': None, 'area_code': '560035', 'state': 'Karnataka', 'name': 'Main Market'}]]

[['0635ecff-8fde-4185-8cd8-167efda42bbc',
  '8cbe235d-f510-496b-881b-3e270f0d0463',
  {'name': 'Main Market',
   'code': 'ESAM',
   'symbol': '',
   'short_desc': 'SHop No 2, Street 1',
   'long_desc': '',
   'images': []},
  '13.0514944,77.5094272',
  {'city': 'Bangalore',
   'street': None,
   'area_code': '560035',
   'state': 'Karnataka',
   'name': 'Main Market'}]]

In [180]:
for i in column:
    print(len(i))
    locations_df.loc[len(descriptor_pv)]=i

5

In [182]:
locations_df

,provider_id,location_id,descriptor,gps,address
1,0635ecff-8fde-4185-8cd8-167efda42bbc,8cbe235d-f510-496b-881b-3e270f0d0463,"{'name': 'Main Market', 'code': 'ESAM', 'symbo...","13.0514944,77.5094272","{'city': 'Bangalore', 'street': None, 'area_co..."

In [187]:
column=[]
for i in range(len(provider_df['fulfillments'])):
    temp=provider_df['fulfillments'][i]
    for j in temp:
        rows=[]
        rows.append(provider_df['id'][i])
        print(j.keys())
        for val in j.values():
            rows.append(val)
        column.append(rows)
column

dict_keys(['type', 'id', 'start'])
dict_keys(['type', 'id', 'start'])

[['0635ecff-8fde-4185-8cd8-167efda42bbc',
  'Pickup',
  '2',
  {'location': {'id': '8cbe235d-f510-496b-881b-3e270f0d0463',
    'gps': '13.0514944,77.5094272',
    'address': {'city': 'Bangalore',
     'building': None,
     'area_code': '560035',
     'state': 'Karnataka',
     'name': 'Main Market'}}}],
 ['0635ecff-8fde-4185-8cd8-167efda42bbc',
  'Delivery',
  '1',
  {'location': {'id': '8cbe235d-f510-496b-881b-3e270f0d0463',
    'gps': '13.0514944,77.5094272',
    'address': {'city': 'Bangalore',
     'building': None,
     'area_code': '560035',
     'state': 'Karnataka',
     'name': 'Main Market'}}}]]

In [189]:
fulfillments_df=pd.DataFrame(columns=['provider_id','type', 'id', 'start'])
for i in column:
    fulfillments_df.loc[len(fulfillments_df)]=i
fulfillments_df

,provider_id,type,id,start
0,0635ecff-8fde-4185-8cd8-167efda42bbc,Pickup,2,{'location': {'id': '8cbe235d-f510-496b-881b-3...
1,0635ecff-8fde-4185-8cd8-167efda42bbc,Delivery,1,{'location': {'id': '8cbe235d-f510-496b-881b-3...

In [190]:
column=[]
for i in range(len(provider_df['items'])):
    temp=provider_df['items'][i]
    for j in temp:
        rows=[]
        rows.append(provider_df['id'][i])
        print(j.keys())
        for val in j.values():
            rows.append(val)
        column.append(rows)
column

dict_keys(['id', 'parent_item_id', 'descriptor', 'price', 'rateable', 'matched', 'category_id', 'fulfillment_id', 'location_id', '@ondc/org/returnable', '@ondc/org/seller_pickup_return', '@ondc/org/available_on_cod', '@ondc/org/return_window', '@ondc/org/time_to_ship', '@ondc/org/cancellable', '@ondc/org/contact_details_consumer_care', '@ondc/org/statutory_reqs_packaged_commodities'])
dict_keys(['id', 'parent_item_id', 'descriptor', 'price', 'rateable', 'matched', 'category_id', 'fulfillment_id', 'location_id', '@ondc/org/returnable', '@ondc/org/seller_pickup_return', '@ondc/org/available_on_cod', '@ondc/org/return_window', '@ondc/org/time_to_ship', '@ondc/org/cancellable', '@ondc/org/contact_details_consumer_care', '@ondc/org/statutory_reqs_packaged_commodities'])
dict_keys(['id', 'parent_item_id', 'descriptor', 'price', 'rateable', 'matched', 'category_id', 'fulfillment_id', 'location_id', '@ondc/org/returnable', '@ondc/org/seller_pickup_return', '@ondc/org/available_on_cod', '@ondc/org/return_window', '@ondc/org/time_to_ship', '@ondc/org/cancellable', '@ondc/org/contact_details_consumer_care', '@ondc/org/statutory_reqs_packaged_commodities'])

[['0635ecff-8fde-4185-8cd8-167efda42bbc',
  '1900',
  '1388',
  {'name': 'Chicken Breast Boneless',
   'code': 'ESAM',
   'symbol': 'https://media.esamudaay.com/user-media/veg.png',
   'short_desc': 'Chicken Breast Boneless',
   'long_desc': 'Chicken Breast Boneless',
   'images': ['https://media.test.esamudaay.com/user-media/chilli-chicken_JRHHisY.jpg']},
  {'currency': 'INR',
   'value': '1.0',
   'listed_price': '0.97',
   'maximum_value': '1.0'},
  False,
  True,
  'PACKAGED_COMMODITIES',
  '1',
  '8cbe235d-f510-496b-881b-3e270f0d0463',
  False,
  True,
  False,
  'PT24H',
  'PT2H',
  False,
  'Name. Support Guy1 | Contact no. +918123462111',
  {'manufacturer_or_packer_name': 'Kitchen',
   'manufacturer_or_packer_address': '103 Prithvi appartment, Malleswaram, Bengaluru, Karnataka 560003',
   'common_or_generic_name_of_commodity': 'Chicken',
   'net_quantity_or_measure_of_commodity_in_pkg': '250 gms',
   'month_year_of_manufacture_packing_import': '14/02/2022',
   'imported_product_country_of_origin': 'India'}],
 ['0635ecff-8fde-4185-8cd8-167efda42bbc',
  '1898',
  '1387',
  {'name': 'Chicken - With Skin',
   'code': 'ESAM',
   'symbol': 'https://media.esamudaay.com/user-media/veg.png',
   'short_desc': 'Chicken - With Skin',
   'long_desc': 'Chicken - With Skin',
   'images': ['https://media.test.esamudaay.com/user-media/chilli-chicken_JRHHisY.jpg']},
  {'currency': 'INR',
   'value': '100.0',
   'listed_price': '97.09',
   'maximum_value': '100.0'},
  False,
  True,
  'PACKAGED_COMMODITIES',
  '1',
  '8cbe235d-f510-496b-881b-3e270f0d0463',
  False,
  True,
  False,
  'PT24H',
  'PT2H',
  False,
  'Name. Support Guy1 | Contact no. +918123462111',
  {'manufacturer_or_packer_name': 'Kitchen',
   'manufacturer_or_packer_address': '103 Prithvi appartment, Malleswaram, Bengaluru, Karnataka 560003',
   'common_or_generic_name_of_commodity': 'Chicken',
   'net_quantity_or_measure_of_commodity_in_pkg': '500 gms',
   'month_year_of_manufacture_packing_import': '14/02/2022',
   'imported_product_country_of_origin': 'India'}],
 ['0635ecff-8fde-4185-8cd8-167efda42bbc',
  '1897',
  '1387',
  {'name': 'Chicken - With Skin',
   'code': 'ESAM',
   'symbol': 'https://media.esamudaay.com/user-media/veg.png',
   'short_desc': 'Chicken - With Skin',
   'long_desc': 'Chicken - With Skin',
   'images': ['https://media.test.esamudaay.com/user-media/chilli-chicken_JRHHisY.jpg']},
  {'currency': 'INR',
   'value': '51.0',
   'listed_price': '49.51',
   'maximum_value': '51.0'},
  False,
  True,
  'PACKAGED_COMMODITIES',
  '1',
  '8cbe235d-f510-496b-881b-3e270f0d0463',
  False,
  True,
  False,
  'PT24H',
  'PT2H',
  False,
  'Name. Support Guy1 | Contact no. +918123462111',
  {'manufacturer_or_packer_name': 'Kitchen',
   'manufacturer_or_packer_address': '103 Prithvi appartment, Malleswaram, Bengaluru, Karnataka 560003',
   'common_or_generic_name_of_commodity': 'Chicken',
   'net_quantity_or_measure_of_commodity_in_pkg': '250 gms',
   'month_year_of_manufacture_packing_import': '14/02/2022',
   'imported_product_country_of_origin': 'India'}]]

In [194]:
items_df=pd.DataFrame(columns=['provider_id','id', 'parent_item_id', 'descriptor', 'price', 'rateable', 'matched', 'category_id', 'fulfillment_id', 'location_id', '@ondc/org/returnable', '@ondc/org/seller_pickup_return', '@ondc/org/available_on_cod', '@ondc/org/return_window', '@ondc/org/time_to_ship', '@ondc/org/cancellable', '@ondc/org/contact_details_consumer_care', '@ondc/org/statutory_reqs_packaged_commodities'])
for i in column:
    items_df.loc[len(items_df)]=i
items_df

,provider_id,id,parent_item_id,descriptor,price,rateable,matched,category_id,fulfillment_id,location_id,@ondc/org/returnable,@ondc/org/seller_pickup_return,@ondc/org/available_on_cod,@ondc/org/return_window,@ondc/org/time_to_ship,@ondc/org/cancellable,@ondc/org/contact_details_consumer_care,@ondc/org/statutory_reqs_packaged_commodities
0,0635ecff-8fde-4185-8cd8-167efda42bbc,1900,1388,"{'name': 'Chicken Breast Boneless', 'code': 'E...","{'currency': 'INR', 'value': '1.0', 'listed_pr...",False,True,PACKAGED_COMMODITIES,1,8cbe235d-f510-496b-881b-3e270f0d0463,False,True,False,PT24H,PT2H,False,Name. Support Guy1 | Contact no. +918123462111,"{'manufacturer_or_packer_name': 'Kitchen', 'ma..."
1,0635ecff-8fde-4185-8cd8-167efda42bbc,1898,1387,"{'name': 'Chicken - With Skin', 'code': 'ESAM'...","{'currency': 'INR', 'value': '100.0', 'listed_...",False,True,PACKAGED_COMMODITIES,1,8cbe235d-f510-496b-881b-3e270f0d0463,False,True,False,PT24H,PT2H,False,Name. Support Guy1 | Contact no. +918123462111,"{'manufacturer_or_packer_name': 'Kitchen', 'ma..."
2,0635ecff-8fde-4185-8cd8-167efda42bbc,1897,1387,"{'name': 'Chicken - With Skin', 'code': 'ESAM'...","{'currency': 'INR', 'value': '51.0', 'listed_p...",False,True,PACKAGED_COMMODITIES,1,8cbe235d-f510-496b-881b-3e270f0d0463,False,True,False,PT24H,PT2H,False,Name. Support Guy1 | Contact no. +918123462111,"{'manufacturer_or_packer_name': 'Kitchen', 'ma..."